<!-- ##########################
      BANNER AND NAVBAR
#################################  -->
<div class="row">
  <nav class="navbar navbar-top navbar-dark navbar-bg-light">
    <div class="navbar-header">
      <a routerLink="" class="navbar-brand">
        BRAND
      </a>
    </div>
    <div class="navbar-nav">
      <a routerLink="cart" class="nav-item nav-link">
        <span class="fa fa-cart"></span>
        My Cart
      </a>
    </div>
  </nav>
</div>
<div class="row wrapper">
  <div class="col-sm-8 content-wrapper">
    <p>
      Content goes here
    </p>
  </div>
  <div class="col-sm-4 cart-wrapper">
    <app-cart></app-cart>
  </div>
</div>